{{ $hasInnerArchive := and (isset .Site.Params "innerArchive") (index .Site.Params "innerArchive") }}
{{ $hasTagcloud := and (isset .Site.Params "tagcloud") (index .Site.Params "tagcloud") }}
{{ $hasFriends := and (isset .Site.Params "friends") (index .Site.Params "friends") }} 
{{ $hasAboutme := and (isset .Site.Params "aboutme") (index .Site.Params "aboutme") }}

<div class="tools-col">
  <ul class="btn-wrap">
    {{ if $hasInnerArchive }}
      <li class="chose" data-hook="tools-section-all"><span class="text">全部</span><i class="icon-book"></i></li>
    {{ end }}
    {{ if $hasTagcloud }}
      <li data-hook="tools-section-tag"><span class="text">标签</span><i class="icon-price-tags"></i></li>
    {{ end }}
    {{ if $hasFriends }}
      <li data-hook="tools-section-friends"><span class="text">友链</span><i class="icon-link"></i></li>
    {{ end }}
    {{ if $hasAboutme }}
      <li data-hook="tools-section-me"><span class="text">我</span><i class="icon-smile"></i></li>
    {{end }}
  </ul>
  <div class="tools-wrap">
    {{ if $hasInnerArchive}}
        <section class="tools-section tools-section-all chose">
        </section>
    {{ end }}

    {{ if $hasTagcloud }}
        <section class="tools-section tools-section-tag">
                <div class="widget tagcloud" id="js-tagcloud">
                    {{ range $tag := .Site.Taxonomies.tags }}
                    {{ $color := index (shuffle (seq 1 5)) 0}}
                    <a href="/tags/{{$tag}}" style="font-size: 12px" class="color{{$color}}">{{ $tag }}</a>
                    {{ end }}
                </div>
        </section>
    {{ end }}

    {{ if $hasFriends }}
        <section class="tools-section tools-section-friends">
            <div class="friends-wrap" id="js-friends">
            {{ range $friend :=  (index .Site.Params "friends") }}
            <a target="_blank" class="main-nav-link switch-friends-link" href="{{index $friend "url"}}">{{index $friend "name"}}</a>
              {{ end }}
            </div>
        </section>

    {{ end }}
    {{ if $hasAboutme }}
        <section class="tools-section tools-section-me">
        {{ if gt (len (index .Site.Param "aboutme")) 0 }}
        <div class="aboutme-wrap" id="js-aboutme">{{ index .Site.Params "aboutme"}}</div>
        {{ end }}
        </section>
    {{ end }}
  </div>
  
</div>
