<article class="article article-type-post" itemscope itemprop="blogPost">
    <div class="article-inner">
        {{ if isset .content.Site.Params "fancybox"}}
          {{ if index .content.Site.Params "fancybox"}}
            <input type="hidden" class="isFancy" />
          {{ end }}
        {{ end }}
        <header class="article-header">
            {{ partial 'post/title.html' (dict "article" . "class_name" "article-title") }}
        </header>
        <div class="article-entry" itemprop="articleBody">
            {{ if .index }}
                {{ content.Summary }}
                <p class="article-more-link">
                <a class="article-more-a">{{ .Permalink }}</a>
                </p>
            {{ else }}
              {{ .content.Content }}
            {{ end }}
        </div>
        <div class="article-info article-info-index">
            {{ partial "post/date.html" (dict content . class_name:"archive-article-date" date_format: nil )}}
            {{ partial "post/tag.html" (dict content .)}}
            <div class="clearfix"></div>
        </div>
    </div>
</article>

{{ if not .index }}
  {{ partial "post/nav.html" .}}
{{ end }}

{{ if and (not index) and (isset .Site.Param "share_jia")}}
{{ end }}
